*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
/* .brightball{
    position: absolute;
    width: 200px;
    height: 200px;
    left: 0;
    right: 0;
    border-radius: 100px;
    background: radial-gradient(circle at 50% 50%, transparent 10%,rgba(0,0,0,0.95) 20%);
    z-index:1;
    transform: translate(-50%,-50%);
} */
.welcome{
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    filter: brightness(1);
}
.welcome video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.welcome h1{
position: absolute;
top: 0;
Left: e;
width: 100%;
height: 100%;
background-color: rgb(255, 255, 255);
font-size: 15rem;
text-align: center;
text-transform: uppercase;
color: #000000;
Line-height: 100vh;
mix-blend-mode: screen;
animation: blink 8s infinite ease-in-out;
animation-iteration-count: 1;
-webkit-text-stroke: 4px goldenrod;
 
}
.menubar{position: absolute;
    background-color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size:14rem;
    font-weight: bolder;
    z-index: -1;
    font-family: 'Lilita One', sans-serif;
    color: rgb(0, 0, 0);
    transform: scale(100);
    mix-blend-mode: screen;
    opacity: 0;
  
}
.menubar option:hover{
    transition:0.5s;
    transform: scale(1.1);
}




.parent{
    position: relative;
    width: 100vw;
    height: 100vh;
    background:url(background.png);
      background-position: center;
    /* background-repeat: no-repeat; */
    background-size: cover;
    display: flex;
    flex-direction: column;
    filter: brightness(0.5);
    gap: 20px;
    overflow: hidden;
    
    
}
.navbar{
    width: 100vw;
    height:60px;
    background-color: rgb(0, 0, 0,0.8);
    z-index: 1000;
    display: flex;
    align-items: center;
    padding: 0 10px 0 20px;
    justify-content: space-between;
    overflow: hidden;
}
.navbar logo{
    color: rgb(255, 255, 255);
    font-size: 23px;
}
.navoption{
  height: 45px;
    width: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mainimg{
    width: 380px;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%,-50%);
    filter: brightness(0.4)  drop-shadow(1px 3px 50px rgb(0, 0, 0,0.2));
    transition: 1s;
    
}
#mainoliv,#mainmaroon{
    left: -100%;
    top: 39%;
}
.backcloth , .backcloth2{
    position: absolute;
    width: 350px;
    left: 10vw;
    top: -10%;
    z-index: -1;
    transition: 2s;
}
.backcloth2{
    left: 70vw;
}

.frontContent{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(135deg,rgba(255,255,255,.1),rgba(255,255,255,0));
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
    border:none;
    box-shadow: 0 8px 32px 0 rgb(0, 0, 0,.7);
    z-index: -1;
    opacity: 0;
    transition: 1.5s;
   
}

.light , .light2{
    position: absolute;
    z-index: -1;
    width: 230px;
    top: 3.6%;
    left: 30.5%;
    filter: brightness(1);
    -webkit-filter: drop-shadow(5px 5px 5px #ffffff);
        filter: drop-shadow(5px 5px 5px #f9f9f9);
        opacity: 0;
        transition: 0.5s;
    
}

.light2{
    left: 53.8%;
    transform: rotateY(180deg);
}
@keyframes blink{
    0%{
        transform: scale(200);
    }
    100%{
      transform: scale(1);
      -webkit-text-stroke: 3px rgb(0, 0, 0,0);
    }
}
.start{
    position: absolute;
    top: 80%;
    width: 140px;
    height: 50px;
    font-size: 1.8rem;
    border-radius: 50px;
    color: gold;
    background-color: black;
    outline:none;
    border: 2px solid gold;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.5s;
}
.start:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 8px gold,inset 0px 0px 18px gold;
}


.buybox,.color{
    position: absolute;
    width: 420px;
    height: 350px;
    z-index: 2;
    top: 38%;
    left: 69%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5px 0 5px;
    gap: 10px;
    opacity: 0;
    transition: 0.5s;
    font-family: 'Josefin Sans', sans-serif;
  
    /* 68%*/


}
.buybox h2{
    font-size: 3rem;
    color: white;
}
.rating{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    color:rgb(255, 255, 255);
    font-size: 16px;
    font-weight: bolder;
}

.star{
    width: 30px;
    height: 20px;
}
.buybox DescContent{
    color: white;
    font-size: 1.4rem;
}
.cartbtn{
    width: 100%;
    display: flex;
    gap: 20px;
    margin-top: 15px;
}
.exit{
    right: 5%;
    top: 3%;
    width:50px;
    height: 40px;
    border: 2px solid red;
    color: red;
    font-size: 2rem;
    position: absolute;
}
.addToCart, .buy{
    width: 130px;
    height: 50px;
    color: white;
    border: 2px solid rgb(121, 90, 11);
    background-color: rgb(0, 0, 0,0);
}
.buy{
    width: 100px;
}

.addToCart:hover , .buy:hover{
    cursor: pointer;
    background-color:rgb(234, 174, 23,0.3)
}

.color{
    opacity: 0;
    height: 250px;
    left: 5vw;
    top: 20%;
    gap: 80px;
    justify-content:start;
    padding: 10px;
    font-size: 15px;
    color:white;
    
    
}

.black , .oliv ,.maroon{
    width: 25px;
    height: 25px;
    border-radius: 2px;
    background-color: black;
    border: none;
}
.oliv{
    background-color: rgb(2, 65, 2);
}
.maroon{
    background-color: #372137;
}
.colorlist{
    width: 100%;
    height: auto;
    display: flex;
    padding-left: 5px;
    align-items: center;
    gap: 10px;
}
.size{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 30px;
    
}
.allColor{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.allSize{
    display: flex;
    justify-content: start;
    gap: 10px;
}
.color{
    width: 260px;
    left: 18vw;

}
.sizebtn{
    width: 40px;
    height: 30px;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
  background-color: rgb(0, 0, 0,0.1);
    border: 2px solid goldenrod;
    outline: none;
    color: white;
}

/* This animation is used in javascript all animation are called by javascript */

@keyframes backcloth {
    0%{
        top: 0%;
    }
    50%{
        top: -100%;
        
    }
    100%{
        top: 0px;
    }
}
/* Responsive lines of code */
@media(max-width:1032px){
    .color{
        left: 5vw;                         ;
    }
    .buybox{
        width: 299px;
        left: 67.5%;
    
    }
    html{
        font-size: 8.5px;
    }
    .buybox p{
       font-size: 1.5rem;
    }
    .mainimg{
        width: 289px;
    }
    .buybox DescContent {
        width: 230px;
    }
    .welcome h1{
        -webkit-text-stroke: 1px gold;
    }
}
@media(max-width:834px){
    .mainimg{
        width: 270px;
    }
    html{
        font-size: 7px;
    }
    .buybox{
        top: 65%;
        left: 50%;
        transform: translate(-50%);
        width: 336px;
        height: 268px;
        gap: 5px;
        
        text-align: center;
    }
    .buybox DescContent {
        display: none;
    }
    .desctxt{
        display: none;
    }
    .cartbtn,.rating {
        justify-content: center;
    }
    .color{
        width: 90px;
        padding: 0;
        gap: 35px;
        font-size: 12px;
    }
    .allColor{
        gap:15px;
        padding: 0;
    }
    .allSize,.colorlist{
        flex-direction: column;
        padding: 0;
    }
    .colorlist{
        align-items: start;
    }
    .size{
        gap:11px;
    }
    .allColor h2{
        display: none;
    }
    .sizebtn {
        width: 31px;
        height: 27px;
    }
    .welcome h1{
        font-size: 10rem;
    }
    .backcloth,.backcloth2
    {
        width: 250px;
    }
    .backcloth{

        left: -9vw;
    }
    .backcloth2{
        left: 57vw;
    }
}
@media(max-width:428px){
    .welcome h1{
        font-size: 8rem;
    }
}
@media(max-width:908px){
    .welcome h1{
        font-size: 8rem;
    }
    .buybox DescContent {
        width: 260px;
    }
}
@media(max-width:341px){
    .welcome h1{
        font-size: 5rem;
    }
}
@media(max-width:500px){
    .menubar option{
        font-size: 9rem;
    }
}
@media(max-width:319px){
    .menubar option{
        font-size: 7rem;
    }
}
